<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <nav class="d-flex align-items-center">
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<section class="contact_area section_gap_bottom">
    <div class="container">
        <div class="row justify-content-center align-content-center text-center mt-5">
            <i class="lnr lnr-warning text-danger" style="font-size: 100px;"></i><h3 class="ml-4 justify-content-center align-content-center row">Oops! Something went wrong.</h3>
        </div>
    </div>
</section>

