
@{
    ViewBag.Title = "Quên mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Quên mật khẩu</h1>
                <nav class="d-flex align-items-center">
                    <a href="@Url.Action("trang-chu", "Main")">Trang chủ<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Quên mật khẩu</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Tracking Box Area =================-->
<section class="tracking_box_area section_gap">
    <div class="container">
        <div class="tracking_box_inner">
            <p>
                Vui lòng nhập đúng email đã đăng ký tài khoản trước đó để chúng tôi cung cấp lại mật khẩu mới cho bạn.
            </p>
            <div class="row tracking_form">
                <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="email" placeholder="Email đã đăng ký tài khoản của bạn" required maxlength="254">
                </div>
                <div class="col-md-12 form-group" id="notificate">
                </div>
                <div class="col-md-12 form-group">
                    <a class="primary-btn" href="#!" onclick="ForgotPassword()">Lấy mật khẩu</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Tracking Box Area =================-->
<script>
    function ForgotPassword() {
        var email = document.getElementById("email").value;
        $.ajax({
            type: "POST",
            url: "@Url.Action("quen-mat-khau","UserAccount")",
            dataType: "json",
            contentType: 'application/json; charset=utf-8',
            data: JSON.stringify({ email: email }),
            async: true,
            processData: false,
            cache: false,
            success: function (result) {
                if (result.success) {
                    document.getElementById("notificate").innerHTML = '<p class="text-success">' + result.message + '</p>';
                    document.getElementById("email").value = null;
                }
                else {
                    document.getElementById("notificate").innerHTML = '<p class="text-danger">' + result.message + '</p>';
                }
            }
        });
    }
</script>
